<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">{{ .title }}</div>

        <div class="card-body">
          <form method="POST" action="/register">


            <div class="form-group row">
              <label for="name" class="col-md-4 col-form-label text-md-right">用户名</label>
              <div class="col-md-6">
                <input id="name" type="text" class="form-control {{if .Errors.name }}is-invalid {{end}}" name="name" value="{{.User.Name}}"  autofocus>
                {{ with .Errors.name }}
                <div class="invalid-feedback">
                  {{ range $message := . }}
                  <p>{{ $message }}</p>
                  {{ end }}
                </div>
                {{ end }}
              </div>
            </div>

            <div class="form-group row">
              <label for="email" class="col-md-4 col-form-label text-md-right"> 邮箱地址</label>

              <div class="col-md-6">
                <input id="email" type="email" class="form-control {{if .Errors.email }}is-invalid {{end}}" name="email" value="{{.User.Email}}" >

                {{ with .Errors.email }}
                <div class="invalid-feedback">
                  {{ range $message := . }}
                  <p>{{ $message }}</p>
                  {{ end }}
                </div>
                {{ end }}
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">密码</label>

              <div class="col-md-6">
                <input id="password" type="password" class="form-control {{if .Errors.password }}is-invalid {{end}}" name="password" >
                {{ with .Errors.password }}
                <div class="invalid-feedback">
                  {{ range $message := . }}
                  <p>{{ $message }}</p>
                  {{ end }}
                </div>
                {{ end }}

              </div>
            </div>

            <div class="form-group row">
              <label for="password-confirm" class="col-md-4 col-form-label text-md-right">确认密码</label>

              <div class="col-md-6">
                <input id="password-confirm" type="password" class="form-control {{if .Errors.password_confirm }}is-invalid {{end}}" name="password_confirm" >
                {{ with .Errors.password_confirm }}
                <div class="invalid-feedback">
                  {{ range $message := . }}
                  <p>{{ $message }}</p>
                  {{ end }}
                </div>
                {{ end }}
              </div>
            </div>

            <div class="form-group row">
              <label for="captcha" class="col-md-4 col-form-label text-md-right">验证码</label>

              <div class="col-md-6" style="position: relative;">
                <input id="captcha" class="form-control {{if .Errors.captcha }}is-invalid {{end}}" name="captcha" value="" >
                {{ with .Errors.captcha }}
                <div class="invalid-feedback">
                  {{ range $message := . }}
                  <p>{{ $message }}</p>
                  {{ end }}
                </div>
                {{ end }}

                <img class="thumbnail captcha" style="position: absolute;right: 45px;top: 5px;" src="/captcha" onclick="this.src='/captcha?'+Math.random()"
                title="点击图片重新获取验证码">
              </div>
          

            </div>
    

            <div class="form-group row mb-0">
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  注册
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>