<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
  <div class="container">
    <!-- Branding Image -->
    <a class="navbar-brand " href="/">
      FiberBBS
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {{with active_class .current_path "/topics" }}active{{end}}"><a class="nav-link" href="/topics">话题</a></li>
        <li class="nav-item {{with active_class .current_path "/categories/show/1" }}active{{end}} "><a class="nav-link " href="/categories/show/1">分享</a></li>
        <li class="nav-item {{with active_class .current_path "/categories/show/2" }}active{{end}}"><a class="nav-link" href="/categories/show/2">教程</a></li>
        <li class="nav-item {{with active_class .current_path "/categories/show/3" }}active{{end}}"><a class="nav-link" href="/categories/show/3">问答</a></li>
        <li class="nav-item {{with active_class .current_path "/categories/show/4" }}active{{end}}"><a class="nav-link" href="/categories/show/4">公告</a></li>
      </ul>
      <ul class="navbar-nav justify-content-end">

          {{with $.User.Name}}
          {{.}}
        <li class="nav-item"><a class="nav-link" href="#">用户列表</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="" class="img-responsive img-circle" width="30px" height="30px">

          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/show?id={{$.Session.SessionKeyUser.id}}">个人中心</a>
            <a class="dropdown-item" href="/users/edit?id={{$.Session.SessionKeyUser.id}}">编辑资料</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="logout" href="#">
              <form action="/logout" method="POST">

                <button class="btn btn-block btn-danger" type="submit" name="button">退出</button>
              </form>
            </a>
          </div>
        </li>
          {{else}}
        <li class="nav-item"><a class="nav-link" href="/help">帮助</a></li>
        <li class="nav-item" ><a class="nav-link" href="/login">登录</a></li>
          {{end}}
      </ul>
<!--&lt;!&ndash;       Right Side Of Navbar&ndash;&gt;-->
<!--                  <ul class="navbar-nav navbar-right">-->
<!--                      &lt;!&ndash; Authentication Links &ndash;&gt;-->
<!--                      {{if .User}}-->
<!--                          {{.User.Name}}-->
<!--                      <form action="/logout" method="POST" onsubmit="return confirm('您确定要退出吗？');">-->
<!--                      <button class="btn btn-block btn-outline-danger btn-sm" type="submit" name="button">退出</button>-->
<!--                      </form>-->
<!--                      {{else}}-->
<!--                      <li class="nav-item"><a class="nav-link" href="/login">登录</a></li>-->
<!--                      <li class="nav-item"><a class="nav-link" href="/register">注册</a></li>-->
<!--                      {{end}}-->
<!--                  </ul>-->
    </div>
  </div>
</nav>