
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <!-- <meta name="csrf-token" content=""> -->

    <title>{{.Title}} - Fiber 进阶教程</title>
    <!-- Styles -->
    <link href="/static/css/app.min.css" rel="stylesheet">

    {{block "styles" .}}{{end}}
</head>

<body>
<div id="app" class="{{.page_class}}">
    {{template "layouts/_header" .}}
    <div class="container">
    {{embed}}

    </div>

    {{template "layouts/_footer" .}}

</div>
<!-- Scripts -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
{{block "scripts" .}}{{end}}
</body>
</html>