
<div class="row mb-5">
  <div class="col-lg-9 col-md-9 topic-list">
    {{if .Category}}
    <div class="alert alert-info" role="alert">
      {{ .Category.Name }} ：{{ .Category.Description }}
    </div>
    {{end}}
    <div class="card ">
      {{$default:="?order=default"}}
      {{$recent:="?order=recent"}}
      <div class="card-header bg-transparent">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link {{if urlContain .current_path  $default}}active{{end}}" href="{{$default}}">最后回复</a></li>
          <li class="nav-item"><a class="nav-link {{if urlContain .current_path $recent }}active{{end}}"  href="{{$recent}}">最新发布</a></li>
        </ul>
      </div>

      <div class="card-body">

        {{template "topics/_topic_list" .}}

        <div class="mt-5" >
          <nav aria-label="Page navigation example">
            <ul class="pagination">

            {{.Page}}

            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 sidebar">
    {{template "topics/_sidebar" .}}
  </div>
</div>
